/*------------------------------------*\
  RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0b1 | 201101
   NOTE:WORK IN PROGRESS
   USE WITH CAUTION AND TEST WITH ABANDON */

html,body,div,span,applet,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,
del,dfn,em,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,
b,u,i,center,
dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary,
time,mark,audio,video{
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  font:inherit;
  vertical-align:baseline;
}

/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section{
  display:block;
}

ol,ul{
  list-style:none;
}

blockquote,q{
  quotes:none;
}

blockquote:before,blockquote:after,
q:before,q:after{
  content:'';
  content:none;
}

/* remember to define visible focus styles!
:focus{
  outline:?????;
} */

/* remember to highlight inserts somehow! */

ins{
  text-decoration:none;
}

body {
	color: #333;
	margin-top: 59px;
	font-family: "helvetica neue", helvetica, arial, sans-serif;
}

del{
  text-decoration:line-through;
}

table{
  border-collapse:collapse;
  border-spacing:0;
}

h1 {
	color: #333;
	font-size: 30px;
	font-weight: 700;
	margin: 12px 0 12px 0;
}

p {
	color: #444;
	font-size: 14px;
	font-weight: normal;
	line-height: 21px;
	margin: 0 0 12px 0;
}



/*------------------------------------*\
  MAIN
\*------------------------------------*/

html { 
	background: url(../images/background.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}


.wrapper {
	width: 960px;
	margin: auto;
	overflow: hidden;
}

.content {
	margin-top: 26px;
}


.video {
	width: 593px;
	float: left;
}

.video-frame {
	padding: 5px;
	background-color: #FBFBFB;
	border: 1px solid #C8C8C8;
}

.video-decoration {
	margin-top: -7px;
	border: 1px solid #C8C8C8;
	padding: 2px;
	width: 103%;
	margin-left: 3px;
	background-color: #FBFBFB;
}

.whitelist-decoration{
	z-index:-10;
	position:relative;
	margin-top:-3px;
	border:1px solid #c8c8c8;
	padding:2px;
	margin-left:68px;
	width:288px;
	background-color:#fbfbfb;	
}

.whitelist{
	position:relative;
	z-index:10;
	float:left;
	width:280px;
}

.whitelist-wrapper{
	padding:20px;
	width:260px;
	height:314px;
	background-color:#fbfbfb;
	margin-left:65px;
	border:1px solid #c8c8c8;
}

.whitelist-wrapper h3{
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
	color:#545d67;
}


.whitelist-wrapper p{
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	color:#545d67;
	text-align:center;
	padding-top:20px;
}

.whitelist-wrapper em{
	font-size:10px;
	color:#8b8b8b!important;
}

.whitelist-end-text{
	font-style:normal!important;
	display:block;
	text-align:center;
	padding-top:7px;
	width:320px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#b0b0b0;
	margin-left:40px;
}

#contactName{
	margin-top:20px;
	width:92%;
	height:30px;
	padding-left:10px;
	padding-right:10px;
	margin-bottom:10px;
	text-transform:capitalize;
	border-style:solid;
	border-width:2px;
	border-color:#cacaca;
	color:#8c8c8c;
}

#contactEmail {
width: 92%;
height: 30px;
padding-left: 10px;
padding-right: 10px;
margin-bottom: 10px;
color: 
#8C8C8C;
border-style: solid;
border-width: 2px;
border-color: 
#CACACA;
}

.contactButton{
	float:right;
	border: 0px;
	margin-top:10px;
	color:#FFFFFF;
	text-shadow:0px 1px 0px #000000;
	font-weight:bold;
	background-image:url(../images/buttons/normal.png);
	background-repeat:no-repeat;
	background-color:transparent;
	width:107px;
	height:38px;
}

.contactButton:hover{
	background-image:url(../images/buttons/hover.png);
	background-repeat:no-repeat;
	background-color:transparent;
	width:107px;
	height:38px;
}

.contactButton:active{
	background-image:url(../images/buttons/active.png);
	background-repeat:no-repeat;
	background-color:transparent;
	width:107px;
	height:38px;
}

#contactMessage{
	margin-bottom: 10px;
	padding:10px;	
	width:92%;
	height:50px;
	border-style:solid;
	border-width:2px;
	border-color:#cacaca;
}

#contactMessage:focus{
	border-color:#e34e47;
}






#page-wrap { 
	width: 750px; 
	margin: 50px auto; 
	padding: 20px; 
	background: white; 
	-moz-box-shadow: 0 0 20px black; 
	-webkit-box-shadow: 0 0 20px black; 
	box-shadow: 0 0 20px black; 
}